*{
    margin:0rem;
    padding:0rem;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}
.border{
   border: 1px solid transparent;
    padding: 8px;
}
/*navbar section*/
.navbar{
   height: 60px ;
   background-color: #131921 ;
   color: white ;  
   display: flex;
   align-items: center;
    justify-content:space-around;
}
/*amazon logo*/
.nav-logo{
   height: 60px;
   width: 130px;
   padding-left: 0%;
}
.logo{
    height: 60px;
    background-size: cover;
   background-image: url("Amazon-logo.jpg");
}
.border:hover{
    border: 1px solid white;
}

/*address section*/
.nav-address{
    margin-left: 5px;
}
.paddress{
color: #cccccc;
font-size: 0.8rem;
margin-left: 20px;
}
.saddress{
font-size: 1rem;

}
.icon{
    display: flex;
    align-items: center;

}

/*search bar*/
.nav-search{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 60%;
    height: 40px;
    border-radius: 0.3rem;
    background-color: white;
}
.nav-search:hover{
    border: 2px solid #febd69;
}
.Search-Select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    height: 35px;
    border-top-left-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
    border: none;
}
.search-box{
     height: 38px;
      width: 100%;
     border: none;
        font-size: 1rem;
}
.search-btn{
    width:45px;
    height: 40px;
    font-size: 1rem;
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
    border: none;
    background-color: #febd69;
}

/*nav-right section*/
.psignin{
    font-size: 0.8rem;
    color: #cccccc;
}
.ssignin{
    font-size: 1rem;
    font-weight: bold;
}

/*nav-orders section*/
.porders{
    font-size: 0.8rem;
    color: #cccccc;
}
.sorders{
    font-size: 1rem;
    font-weight: bold;
}

/*nav-cart section*/
.nav-cart i{
    font-size:30px;
}
.nav-cart{
    font-size: 1rem;
    font-weight: 700;
}

/*panel section*/
.panel{
    height: 40px;
    background-color: #232f3e;
    color: white;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}
.panel-item p{
 display: inline;
 margin-left: 1.5rem;
 font-size: 14px;
}
.panel-item{
    width: 95%; 
}
/*hero section*/
.hero-section{
    width: 100%;
    height: auto;
    margin-top: 0.5rem;
}