*{
    margin:0rem;
    padding:0rem;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}
/*navbar section*/
.navbar{
   height: 60px ;
   background-color: #2b3441;
   color: white ;  
   display: flex;
   align-items: center;
   justify-content: space-between;
}
/*amazon logo*/
.nav-logo{
   height: 60px;
   width: 130px;
}
.logo{
    height: 60px;
    background-size: cover;
   background-image: url("Amazon-logo.jpg");
}
.border{
   border: 1px solid transparent;
}
.border:hover{
    border: 1px solid white;
}

/*address section*/

.paddress{
color: #cccccc;
font-size: 0.8rem;
margin-left: 20px;
}
.saddress{
font-size: 1rem;

}
.icon{
    display: flex;
    align-items: center;

}

/*search bar*/
.nav-search{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 600px;
    height: 40px;
    border-radius: 0.3rem;
    background-color: white;
}
.nav-search:hover{
    box-shadow: 2px solid #febd69;
}
.Search-Select{
    background-color: #f3f3f3;
    width: 45px;
    text-align: center;
    height: 35px;
    border-top-left-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
    border: none;
}
.search-box{
     height: 38px;
      width: 100%;
     border: none;
        font-size: 1rem;
}
.search-btn{
    width:45px;
    height: 40px;
    font-size: 1rem;
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
    border: none;
    background-color: #febd69;
}

/*nav-right section*/
.psignin{
    font-size: 0.8rem;
    color: #cccccc;
}
.ssignin{
    font-size: 1rem;
    font-weight: bold;
}

/*nav-orders section*/
.porders{
    font-size: 0.8rem;
    color: #cccccc;
}
.sorders{
    font-size: 1rem;
    font-weight: bold;
}

/*nav-cart section*/
.nav-cart i{
    font-size:30px;
}
.nav-cart{
    font-size: 1rem;
    font-weight: 700;
}