*{
    margin:0rem;
    padding:0rem;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}
.border{
   border: 1px solid transparent;
    padding: 8px;
}
/*navbar section*/
.navbar{
   height: 60px ;
   background-color: #131921 ;
   color: white ;  
   display: flex;
   align-items: center;
    justify-content:space-around;
}
/*amazon logo*/
.nav-logo{
   height: 60px;
   width: 130px;
   padding-left: 0%;
}
.logo{
    height: 60px;
    background-size: cover;
   background-image: url("amazon-headerlogo.png");
}
.border:hover{
    border: 1px solid white;
}

/*address section*/
.nav-address{
    margin-left: 5px;
}
.paddress{
color: #cccccc;
font-size: 0.8rem;
margin-left: 20px;
}
.saddress{
font-size: 1rem;

}
.icon{
    display: flex;
    align-items: center;

}

/*search bar*/
.nav-search{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 60%;
    height: 40px;
    border-radius: 0.3rem;
    background-color: white;
}
.nav-search:hover{
    border: 2px solid #febd69;
}
.Search-Select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    height: 35px;
    border-top-left-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
    border: none;
}
.search-box{
     height: 38px;
      width: 100%;
     border: none;
        font-size: 1rem;
}
.search-btn{
    width:45px;
    height: 40px;
    font-size: 1rem;
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
    border: none;
    background-color: #febd69;
}

/*nav-right section*/
.psignin{
    font-size: 0.8rem;
    color: #cccccc;
}
.ssignin{
    font-size: 1rem;
    font-weight: bold;
}

/*nav-orders section*/
.porders{
    font-size: 0.8rem;
    color: #cccccc;
}
.sorders{
    font-size: 1rem;
    font-weight: bold;
}

/*nav-cart section*/
.nav-cart i{
    font-size:30px;
}
.nav-cart{
    font-size: 1rem;
    font-weight: 700;
}

/*panel section*/
.panel{
    height: 40px;
    background-color: #232f3e;
    color: white;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}
.panel-item p{
 display: inline;
 margin-left: 1.5rem;
 font-size: 14px;
}
.panel-item{
    width: 95%; 
}
/*hero section*/
.hero-section{
    background-image: url("amazon-hero.jpg");
    height: 400px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hero-msg{
background-color: #f3f3f3;
  height: 40px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.85rem;
  margin-bottom: 25px;
}
.hero-msg a{
    color: #007185;
}

/*shop section*/
.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: #e2e7e6;
}
.box{
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0 20px;
    margin-top: 20px;
}

.box-img{
    height: 300px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 10px;
    margin-top: 10px;
}
.box-content{
    text-align: center;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}
.box-content p{
    color: #007185;
}
/*footer section*/
.foot-panel1{
    height: 50px;
    background-color: #37475a;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    cursor: pointer;
}
.foot-panel2{
    background-color: #232f3e;
    color: white;
    display: flex;
    justify-content: space-evenly;
    height: 300px;
    font-size: 1rem;
}
ul{
    margin-top: 40px;
}
ul a{
    display: block;
    font-size: 0.81rem;
    margin-top: 10px;
    color: #dddddd;
}
.foot-panel3
{
    background-color: #232f3e;
    color: white;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #3a4553;
}
img{
    margin-top: 10px;
    height: 40px;
}

.foot-panel4{
    background-color: #0f1111;
    color: white;   
font-size: 0.75rem;
text-align: center;
}
.pages{
    padding-top: 25px;
}
.copyright{
    padding-top: 5px;
    padding-bottom: 30px;
}